* {
  user-select: none;
}

#datetime{
  color: maroon;
  font-weight: bold;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
}

@font-face {
   font-family: my_custom_font;
   src: url(../fonts/SansationLight.woff);
   font-display: swap;
}

.title_name {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 48px;
  color: green;
  margin-top: -5px;
  margin-bottom: -5px;
  letter-spacing: 1px;
}

.title_email a {
  font-family: my_custom_font;
  font-weight: 900;
  color: maroon;
  text-decoration: none;
  letter-spacing: 1px;
}

.title_email a:hover {
  color: teal;
  letter-spacing: 1.5px;
}

.address a {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 18px;
  color: maroon;
  text-decoration: none;
  letter-spacing: 1px;
}

.address a:hover {
  color: teal;
  letter-spacing: 1.5px;
}

.contact {
  font-family: my_custom_font;
  font-weight: 900;
  color: maroon;
  letter-spacing: 1px;
}

.footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

.footer a {
  font-family: my_custom_font;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: lightgray;
  opacity: 0.4;
  margin: 20px;
  /* padding: 10px 20px 10px 20px; */
  line-height: 1.5;
  white-space: nowrap;
}

.footer a:hover {
  letter-spacing: 3px;
  opacity: 0.5;
}

.nobreak {
  white-space: nowrap;
}

@media only screen and (max-width: 370px) {
  .footer a {
    font-size: 14px;
  }
}
