#datetime{
  color: maroon;
  font-weight: bold;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
}

@font-face {
   font-family: my_custom_font;
   src: url(../fonts/SansationLight.woff);
}

.title_name {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 48px;
  color: green;
  margin-top: -5px;
  margin-bottom: -5px;
}

.title_email a {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 26px;
  color: maroon;
  text-decoration: none;
}

.title_email a:hover {
  color: teal;
}

.address a {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 18px;
  color: maroon;
  text-decoration: none;
}

.address a:hover {
  color: teal;
}

.contact {
  font-family: my_custom_font;
  font-weight: 900;
  font-size: 20px;
  color: maroon;
}

.footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

.footer a {
  font-family: my_custom_font;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: beige;
}

.footer a:hover {
  color: silver;
}
